<form>
    <h2>Nova Transferência</h2>
  
    <div>
      <label for="valor">Valor</label>
      <input id="valor" type="text">
    </div>
  
    <div>
      <label for="destino">Destino</label>
      <input id="destinovalor" type="text">
    </div>
  
    <button>Transferir</button>
  
  </form>